# Data Science Tools and Ecosystem

## Author
Hosam Sennah

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
-Listing popular 
- Creating a table
- Ordered lists
- Arithmetic expressions
- Markdown headers
- unordered lists

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Javascript
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. NumPy
4. ggplot2

|Data Science Tools|
|---------|
|Hadoop|
|Spark|
|Jupiter Notebooks|
|Visual Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.
y=3
x=4
z=y*x
a=y/x
b=z*a
c=z+a-b/y

In [7]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by dividing by 60
minutes=200
hours=minutes/60
hours

3.3333333333333335